.noFriend {
    text-align: center;
    margin: 20px
}

.li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 60px;
    border-bottom: 1px lightgray solid;
    padding: 0 15px;
    justify-content: center;
}

/* .li p {
    border: 1px solid red;
} */

.friendNameWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friendName {
    font-size: 1.5em;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.typing {
    color: green;
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: green;
}

.onlineAndTimeWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

.lastMessageContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid green; */
}

.lastMessageAndIconWrapper {
    flex: 1;
    display: flex;
    flex: 1;
    align-items: center;
    /* border: 1px solid red; */
    overflow: hidden;
}

.lastMessage {
    flex:1;
    font-size: .9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    /* border: 2px solid yellow; */
}

.lastMessageTime {
    margin-left: 10px;
    font-size: .9em;
}

.unreadMessages {
    background-color: rgb(22, 182, 22);
    border-radius: 50%;
    padding: 2px;
    color: white;   
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}