/* .Container {
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 20px;
    background-color: #ccc;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
} */

.Container {
  /* display: none; */
  position: absolute;
  background-color: #F1F1F1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 0;
  z-index: 1;
  border: 1px solid black;
  min-height: 100px;
  box-shadow: 2px 2px 5px rgb(133, 132, 132);
  left: 0;
  top: 100%;
}

.Closed {
    display: none;
}