.aside {
    position: fixed;
    height: 100%;
    width: 400px;
    min-width: 300px;
    background-color: rgba(241, 241, 241, 0.925);
    transition: transform 0.3s ease-out;
    z-index: 500;
}

.close {
    transform: translateX(-100%);
}